{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static '/home.css' %}">
</head>
<body>
<main>
    <header>
        <h1>Wilber</h1>
    </header>
    <section>
        <h2 id="desc">Description</h2>
        <p>
            He was always a person who drew a lot of attention from computers,he likes to learn and he always liked to
            improve himself.
            With this little starting description we continue to see more about him.
        </p>
    </section>

        <article>
            <h3 id="part_1">
                Features
            </h3>
            <ul>
                <li>Is a pretty good programmer</li>
                <li>Is a incredible person</li>
                <li>He have a pet,spoiler:is a little and pretty rat</li>
                <li>Has extensive knowledge about programming</li>
                <li>knows how to repair computers</li>
            </ul>
        </article>
        <article>
            <h3 id="part_2">
                Outstanding achievements
            </h3>
            <ul>
                <li>Is a graduated from ICPNA</li>
                <li>He is a graduate of Codeable</li>
                <li>He dresses well</li>
            </ul>
        </article>
    <footer>
        This is only for a good cause, what is written in the article may not be entirely true
    </footer>
</main>
</body>
</html>